* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

:root {
    /*TIPOGRAPHY*/
    --title: 42px;
    --subtitle: 32px;
    --second-subtitle: 25px;
    --web-text: 20px;
    --paragraph: 16px;
    --small-text: 12px;

    /*COLOR PALETTE*/
    --primary-color: #000218;
    --red-marvel-color: #E74040;
    --dark-blue-color: #252B42;
    --light-gray-color: #737373;
    --dark-gray-color: #323030;
    --super-light-gray-color: #D9D9D9;
}

body{
    background-color: var(--primary-color);
}

.main_container{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

