@import url(styles.css);

/* HEADER */
.logo {
    padding: 10px 30px;
    img{
        width: 40%;
    }
}

/* INFORMATIVE BANNER  */
.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.container_fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.main_title {
    height: 191px;
    width: 286.5px;
}

.title_buttons{
    display: flex;
    align-items: flex-end;
    padding-top: 40px;
}

#headline {
    font-size: 35px;
    font-weight: 700;
}

#sub_headline {
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
}

#button_shop {
    height: 52px;
    width: 119px;
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
    background-color: var(--red-marvel-color);
}

#button_cart {
    height: 52px;
    width: 167px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--red-marvel-color);
    font-weight: 700;
    border: 2px solid var(--red-marvel-color);
    background-color: transparent;

}

.guantlet {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    margin-bottom: 0px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

/* DESCRIPTIVE CARDS OF THE CHARACTERS */

/* PARTNER BRANDS */
.partner_brands {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 2rem 0;

  h2 {
    font-size: var(--second-subtitle);
  }

  h3 {
    font-size: var(--paragraph);
  }

  .main_image_container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .image_container {
      display: flex;
      height: 5rem;
      justify-content: center;
      align-items: center;
      object-fit: cover;

      img {
        height: 100%;
      }
    }
  }
}

/* FOOTER */
.footer {
    width: 100%;
    height: 50px;
    background-color: var(--dark-gray-color);
}

.footer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h6 {
  font-weight: 700;
  font-size: 14px;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-top: 5px;
}

/* RESPONSIVE TABLET */
@media (min-width: 744px) {
  /* HEADER */

  /* INFORMATIVE BANNER  */

  /* DESCRIPTIVE CARDS OF THE CHARACTERS */

  /* PARTNER BRANDS */
  .partner_brands {
    height: 16rem;
    margin: 3rem 0 3rem 0;

    h2 {
      font-size: var(--title);
    }

    h3 {
      font-size: var(--second-subtitle);
    }

    .main_image_container {
        margin-top: 2rem;
      gap: 2rem;
    }
  }

  /* FOOTER */
}

/* RESPONSIVE DESKTOP  */
@media (min-width: 1200px) {
  /* HEADER */

  /* INFORMATIVE BANNER  */

  /* DESCRIPTIVE CARDS OF THE CHARACTERS */

  /* PARTNER BRANDS */
  .partner_brands {
    .main_image_container {
        margin-top: 3rem;
      gap: 3rem;
    }
  }

/* FOOTER */

/* RESPONSIVE TABLET  */
@media (min-width: 744px) {

/* HEADER */
    .logo {
        padding: 40px 120px;
        img{
            width: 35%;
        }
    }

/* INFORMATIVE BANNER  */
    .main_title {
        height: 286.5px;
        width: 470px;
    }

    .title_buttons{
        display: flex;
        align-items: flex-end;
    }

    #headline {
        font-size: 58px;
        font-weight: 700;
    }

    #sub_headline {
        font-size: 20px;
        font-weight: 400;
        padding-top: 20px;
    }
}

/* RESPONSIVE DESKTOP  */
@media (min-width: 1200px) {

/* HEADER */
    .logo {
        padding: 58px 80px;
        img{
            width: 147.42px;
        }
    }
    
/* INFORMATIVE BANNER  */
    .main_title {
        height: 382px;
        width: 573px;
    }
    
    .title_buttons{
        padding-top: 40px;
    }
    
    #headline {
        font-size: 58px;
        font-weight: 700;
    }
    
    #sub_headline {
        font-size: 20px;
        font-weight: 400;
        padding-top: 20px;
    }
    
    .guantlet {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center; 
        margin-bottom: 0px;
        width: 704px;
        height: 682px;
    }

  /* FOOTER */
  .footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .rights_reserved {
    padding: 15px 150px;
  }

  .social_network {
    padding-right: 250px;
  }
}