@import url(styles.css);

/* HEADER */

/* INFORMATIVE BANNER  */

/* DESCRIPTIVE CARDS OF THE CHARACTERS */
.personal_cards {
  background-color: var(--grey-background);
  width: 100%;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: var(--second-subtitle);
    color: var(--primary-color);
    padding: 2rem;

  }

  .main_container_cards {
    width: 100%;
    height: 70%;
    display: flex;
    margin-bottom: 3rem;

    i {
      display: flex;
      align-items: center;
      font-size: var(--second-subtitle);
      color: var(--primary-color);
    }
    .container_overflow-cards {
      overflow: hidden;
      width: 100%;

      .container_cards {
        /* background-color: blue; */
        /* width: 100%; */
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem 0;

        .hero-card {
          background-color: var(--white-color);
          width: 200px;
          /* height: 50%; */
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 1rem;
          box-shadow: 0.5rem 0.5rem 0.2rem 0 rgba(79, 79, 79, 0.242);
          border-radius: 0.5rem;

          .container-img {
            width: 4rem;
            height: 4rem;
            overflow: hidden;
            border-radius: 100%;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
          p {
            color: #000;
          }

          /* .title{

          } */
          .description {
            font-size: var(--small-text);
          }
        }
      }
    }
  }
}

/* PARTNER BRANDS */
.partner_brands {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 2rem 0;

  h2 {
    font-size: var(--second-subtitle);
  }

  h3 {
    font-size: var(--paragraph);
  }

  .main_image_container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .image_container {
      display: flex;
      height: 5rem;
      justify-content: center;
      align-items: center;
      object-fit: cover;

      img {
        height: 100%;
      }
    }
  }
}

/* FOOTER */

/* RESPONSIVE TABLET */
@media (min-width: 744px) {
  /* HEADER */

  /* INFORMATIVE BANNER  */

  /* DESCRIPTIVE CARDS OF THE CHARACTERS */

  /* PARTNER BRANDS */
  .partner_brands {
    height: 16rem;
    margin: 3rem 0 3rem 0;

    h2 {
      font-size: var(--title);
    }

    h3 {
      font-size: var(--second-subtitle);
    }

    .main_image_container {
      margin-top: 2rem;
      gap: 2rem;
    }
  }

  /* FOOTER */
}

/* RESPONSIVE DESKTOP  */
@media (min-width: 1200px) {
  /* HEADER */

  /* INFORMATIVE BANNER  */

  /* DESCRIPTIVE CARDS OF THE CHARACTERS */

  /* PARTNER BRANDS */
  .partner_brands {
    .main_image_container {
      margin-top: 3rem;
      gap: 3rem;
    }
  }

  /* FOOTER */
}
